* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;

}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.side_menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  height: 100vh;
  min-width: 24rem;
  border-right: 1px solid #bec1bb;
}

.side_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.user_data {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user_avatar_container {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  border: 1px solid #e8ebe4;
}

.user_name, .contact_name, h1 {
  font-family: "Roboto", sans-serif;
}

.user_status, .contact_last_message, .main_bodycopy {
  font-family: "Open Sans", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon_button {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  color: #828485;
}

li {
  list-style-type: none;
}

.new_chat {
  display: flex;
  justify-content: center;
  border-top: 1px solid #bec1bb;
  padding: 3rem 2rem;
}

.button_CTA {
  border: none;
  background-color: #a491d2;
  color: white;
  width: 100vw;
  padding: 1rem 2rem;
}

.contact_avatar_container {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border: 1px solid #e8ebe4;
}

.contacts {
  flex: 1;
  position: relative;
}

.contact_list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border-top: 1px solid #bec1bb;
}

.contact_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-top: 1px solid #bec1bb;
}

.contact_item:first-of-type {
  border-top: none;
}

.contact_item:last-of-type {
  border-bottom: 1px solid #bec1bb;
}

.main_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  text-align: center;
}

.main_image_container {
  margin-bottom: 2rem;
  width: 22%;
  max-width: fit-content;
  border-radius: 4rem;
}

.main_title {
  margin-bottom: 0.5rem;
}

.main_bodycopy {
  max-width: 50ch;
}